html {
	clip: auto;
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

#canvasTitle {
	display: none;
	animation: fadein 5s;
}

#canvasMeteor {
	display : none;
}

#imagesTitle {
	display: none;
	animation: fadein 5s;
}

#imagesMeteor {
	display: none;

}

#imagesHero{
	display: none;
	position: "absolute";
	z-index: 15;
}

#secret {
	display: none;
}

#meteorSet {
	display: none;
	position: "absolute";
	width: 150px;
	height: 150px;
	z-index: 20;
}

@keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}